<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login de Usuario</title>
</head>
<body>
  <form method="post" action="/verificaLogin">
    <div th:if="${usuario}">
      <input class="input-dados" type="text" name="id" th:value="${usuario?.id}">
    </div>  
    <div class="form-group" >
      <label>Email</label>
      <input  class="input-dados" type="text"  name="email" placeholder="Ex: email@gmail.com" required>
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input  class="input-dados" type="password" name="senha"  placeholder="Ex: 123" required>
    </div> 
    <p></p>
    <button type="submit" id="botao">Entrar</button>

    <p></p>
  </form>
  </body>
</html>